*{margin: 0; padding: 0; box-sizing: border-box;}

.wrapper
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #3944de, #28daa5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper::after,
.wrapper::before
{
    content: '';
    width: 250px;
    height: 250px;
    background: rgba(255,255,255,0.6);
    position: absolute;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 0 rgba(255,255,255,0.1),
                -5px -5px 15px 0 rgba(255,255,255,0.3),
                -8px 8px 20px 0 rgba(255,255,255,0.5),
                10px -10px 25px 0 rgba(255,255,255,0.7)
}
.wrapper::before
{
    top: 50%;
    left: 10%;
}
.wrapper::after
{
    top: 5%;
    left: 80%;
}
.form-div
{
    width: 700px;
    min-height: 400px;
    background: rgba(255,255,255,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.form-div .left-div
{
    width: 30%;
    height: 400px;
    background: rgba(255,255,255,0.5);
    position: relative;
    border-radius: 15px 0 0 15px;
}
.form-div .right-div
{
    width: 70%;
    height: 400px;
    position: relative;
    /* background-color: #2a4940; */
}
.left-div .user-img
{
    width: 100px;
    height: 100px;
    border: 3px solid #0222ae;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: calc((100% - 100px)/2);
}
.left-div .user-img img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
}
.left-div .name
{
    text-align: center;
    top: 150px;
    position: relative;
    text-transform: capitalize;
    font-weight:600;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 3px;
    color: #7f8085;
}

.user
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-top: 110px;
    padding-top: 20px;
    position: relative;
}
.right-div .user p
{
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
}
.right-div .user p span a
{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 10px;
    color: #0222ae;
}

.right-div .user a
{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 10px;
    color: #0222ae;
}
.right-div form
{
    width: 100%;
    height: 400px;
    position: absolute;
}
.right-div .input-box
{
    height: 40px;
    position: relative;
    display: inline-block;
    /* background-color:#0222ae; */
    width: 250px;
    top: 70px;
    left: calc((100% - 250px)/2);
}
.right-div .input-box input
{
    width: 250px;
    height: 40px;
    position: relative;
    padding: 0 40px 0 6px;
    left: calc((100% - 250px)/2);
    margin: 35px 0;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 400;
    background: #fff;
    outline: none;
    border: 2px solid #737272;
    opacity: 0.5;
}
.right-div .input-box span
{
    position: absolute;
    top: 50px;
    right: 15px;
    cursor: pointer;
}
.right-div .input-box #email-error
{
    position: absolute;
    right:15px;
    top: 45px;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
    box-sizing: border-box;
    visibility: hidden;
}
.right-div .input-box p
{
    position: absolute;
    bottom: -60px;
    left: 15px;
    visibility:hidden;
    color: #cd0000;
}
.right-div .btn
{
    position: relative;
}
.right-div .btn button
{
    width:150px;
    height: 45px;
    left: calc((100% - 150px)/2);
    bottom: -150px;
    position: absolute;
    font-size: 1.5rem;
    font-family: cursive;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(90deg, #3b9db6, #0e83e2);
    transition: all 0.5s;
    /* display: none; */

}
.right-div .btn button:hover
{
    background: linear-gradient(90deg, #0e83e2, #3b9db6);
}
